.game-board {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100vh;
  width: 100%; }
  .game-board .status {
    margin: 0px 0px 20px 22px; }
  .game-board .column-num {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0px; }
    .game-board .column-num div {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 20px;
      width: 60px; }
      .game-board .column-num div:first-of-type {
        margin-left: auto; }
  @media screen and (max-width: 800px) {
    .game-board > div {
      width: 90vw; }
    .game-board .column-num div {
      width: 11.11111%; } }
